@import '_cards';

.homePage {
    height: 98vh;
    border: 2px solid magenta;
}

.mainBox {
    display: flex;
}

.displayBoxes {
    width: 95%;
    padding: 0;
}

.overflowBox {
    max-height: 80%;
    overflow: auto;
}