.webBox {
    justify-content: start;
    align-items: center;
}

.webButton {
    border: 2px solid rgb(62, 202, 62);
    width: 20%;
    margin: 7px;
}

.buttonBar {
    width: 100%;
    display: flex;
    justify-content: center;
}


.container {
    border: 2px solid rgb(62, 202, 62);
    border-radius: 5px;
    padding: 5px;
    width: 70%;
}

.now-playing__cover {
    width: 100%;
}
