// @import '_cards';
@import '_pref';
@import '_signUp';
@import '_variables';
@import '_home';
@import '_webplay';



* {
  background-color: black;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #b9b7b7;
}

.breadcrumb a {
  color: #898888;
}

a,
li,
body,
button,
input,
select,
textarea {
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif),
    sans-serif;
  border: 0;
  // margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: #b3b3b3;
  text-transform: none;
}

input,
button {
  border: 1px solid #585858;
  padding: 5px;
  border-radius: 5px;
  outline: rgb(62, 202, 62);
}

input:hover,
button:hover {
  cursor: pointer;
}

body {
  margin: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  // -ms-overflow-style: none;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 98vh;
  // scrollbar-width: none;
  width: 95%;
}